@font-face {
    font-family: "Roboto Regular";
    src: url(../Fonts/Roboto/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Roboto Regular";
    font-size: 0.8rem;
}

@media screen and (max-width: 100px) {
    
}

body {
    background-color: rgb(39, 39, 39);
}


h1 {
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
    padding: 1vh 0;
}

h2 {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 2vh;
    
}

section {
    text-align: center;
    padding: 3vh 15vw;
    background-color: white;
}

.btn {
    padding: 4px 22px;
    margin-top: 1vw;
    background-color: orange;
    color: white;
    border-radius: 2px;
    display: inline-block;
}

/* HEADER */

nav {
    background-color: white;
    padding: 1vh 0;

}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    padding: 0 1.5vw;


}

nav ul :not(:first-child)  {
    border-left: 1px solid black;
}

nav ul li a {
    color: black;
    text-transform: uppercase;
}

nav ul li a:hover{
    color: orange;
}


.dispo {
    height: 25vh;
    background-image: url(../images/new-world-amazon-jeu.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .img-container img {
    height: 10vh;
    width: auto;

}

/* FIN HEADER */

/* DEBUT ACTUS */

#actus .container {
    display: flex;
    justify-content: center;
}

article {
    width: 25vw;
    margin: 0 1vw;
    text-align: left;
}

article .img-container {
    width: 100%;
    height: 12vh;;
}

article .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

article h3 {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin: 0.5vh 0;
}

.articletext {
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 1vw;
    height: 15vh;
}

.articletext :first-child {
    font-size: 1.1rem;
    margin-bottom: 1vw;
}

/* FIN ACTUS */

/* FOOTER */

footer {
    background-color: black;
    padding: 1vh 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    height: 4vh;
}

footer .footer-menu ul {
    display: flex;
    justify-content: right;
}

footer li {
    padding: 0 1.5vw;
}

footer ul :not(:first-child)  {
    border-left: 1px solid white;
}

footer ul li a {
    color: white;
    font-size: 0.8rem;
}