@font-face {
    font-family: "Roboto Regular";
    src: url(../Fonts/Roboto/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Roboto Regular";
    font-size: 0.8rem;
}

@media screen and (max-width: 100px) {
    
}


h1 {
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
    padding: 1vh 0;
}

h2 {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 2vh;
    
}

section {
    text-align: center;
    padding: 3vh 20vw;
}

.btn {
    padding: 4px 22px;
    margin: 1vw;
    background-color: orange;
    color: white;
    border-radius: 2px;
    display: inline-block;
}

/* HEADER */

nav {
    background-color: white;
    padding: 1vh 0;

}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    padding: 0 1.5vw;


}

nav ul :not(:first-child)  {
    border-left: 1px solid black;
}

nav ul li a {
    color: black;
    text-transform: uppercase;
}


.dispo {
    height: 25vh;
    background-image: url(../images/new-world-amazon-jeu.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .img-container img {
    height: 10vh;
    width: auto;

}


/* FIN HEADER */

/* DEBUT RESUME */

#resume {

}

